<% content_for :top_content do %>
  <div class="jumbotron">
    <div class="container">
      <h1>Welcome to Vumos!</h1>
      <h3>Register with us to get started.</h3>
      <p>
        <%= link_to 'Register', new_user_registration_path, class: 'btn btn-primary' %>
      </p>
    </div>
  </div>
<% end %> 
